[v-cloak] {
  display: none;
}
body {
  margin: 0;
  background-color: #ebecee;
  word-break: keep-all;
  font-family: 'Noto Sans KR',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body button {
    -webkit-appearance: none;
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
}
body p {
    margin: 0;
}
body ol, body ul, body li {
    list-style: none;
    margin: 0;
    padding: 0;
}
body img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 0;
    margin: 0 auto 1em;
    padding: 0;
}
html, body {
  height: 100%;
  font-size: 16px;
}

#app {
  min-height: 100%;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 113px;
}

#app footer {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 100%;
}

.content {
  padding: 30px;
  border-radius: 0.25rem;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #111;
  font-weight: 500;
}

.content h2, .content h3, .content h4, .content h5, .content h6 {
  margin-top: 2em;
}

.content a {
  color: #016afd;
  text-decoration: none;
}

.content ul {
  margin: 0.5em 0 1em;
  list-style: none;
}

.content ul li {
  position: relative;
  padding-left: 1rem;
}

.content ul li:before {
  content: '-';
  position: absolute;
  top: 0;
  left: 0;
}

blockquote {
  margin: 1rem 0;
  padding: 0 0 0 1rem;
  border-left: 2px solid #ebecee  
}